<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <a href="/signup" class="btn">GET STARTED</a>


    <div class="header">
        <p1>BLOCKCHAIN X <br>
        </p1>
         <p2>
              CRYPTO APP
         </p2>
    </div>
    <header>
        <nav>
            <ul class="navbar">

                <li><a href="#home" class="nav-item">Home</a></li>
                <li><a href="#features" class="nav-item">Features</a></li>
                <li><a href="#about" class="nav-item">About</a></li>
                <li><a href="#contact" class="nav-item">Contact</a></li>
                <li><a href="/login" class="nav-item">Sign In</a></li>
                <li><a href="/signup" class="nav-item">Sign Up</a></li>
                
            </ul>
        </nav>
    </header>
  
    <section id="home">
        <div class="intro">
       
            <h1 class="app-title">CRYPTO DEFI APP</h1>
            <p69 class="intro-text">TRADE AND SECURE<br>
                 CRYPTOS LIKE<br>
                  NEVER BEFORE</p69>
        </div>
    
        <div class="vertical-line">
        </div>
    </section>
    
  
    

    <section id="features">
      
        <div class="container">
            <div class="text-section">
                <h1>A BASIC <span>BLOCKCHAIN SYSTEM</span></h1>
                <p>To help understand key concepts like hashing, consensus algorithms, and how decentralized systems function. It simulates a simple cryptocurrency, transaction-based system, showcasing how transactions are securely verified and recorded on the blockchain. By exploring the workings of a decentralized network, users can see how transparency and security are maintained in digital transactions. Additionally, the project demonstrates the power of smart contracts, automating processes within the blockchain framework, providing insights into how blockchain technology is transforming industries worldwide.</p>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="about">
            <div class="text-section2">
                
                    <h1><span>ABOUT</span> US</span></h1>
                    <p>
                        Welcome to our blockchain implementation platform! Our mission is to make blockchain
                        technology accessible and understandable to everyone. Whether you're a beginner or an
                        expert, we aim to provide a clear view of how blockchain works and how it can be leveraged
                        to create decentralized applications (dApps) and cryptocurrencies.
            
                        This project showcases the fundamental principles of blockchain,the use of cryptographic hashing
                        consensus algorithms, and decentralized systems. It aims to demonstrate how secure transactions 
                        are processed and how trust is built in a distributed network without the need for intermediaries.
            
                        Here, you'll explore the inner workings of blockchain through practical implementations, learn
                        about smart contracts, and understand how blockchain can transform industries ranging from finance
                        to supply chain management. Our goal is to empower developers and enthusiasts to dive deeper into 
                        blockchain technology and contribute to this revolutionary field.
            
                    
                    </p>
                   
            </div>
            
        </div>

    </section>

       
    <section id="contact">
        <div class="texts">
            <h5>GET IN <br><span>TOUCH !</span></h5>
        </div>
       
        <div class="contact">

            <form action="https://formspree.io/f/mqakogoo" method="post" class="forms">
                <label for="name">Name</label><br>
                <input type="text" id="fname" name="fname" required><br><br>
        
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email" required><br><br>
        
                <label for="message">Message</label><br>
                <textarea id="message" name="message" required></textarea><br><br>
        
                <button type="submit" class="button2">Send</button>
    
            </form>
        </div>
        
        <div class="Info">
            <p15>Contact Information</p15><br><br>
            <img src="contact-removebg-preview.png" class="images">
            <p16>piyush29verma2005@gmail.com</p16><br>
            <p17>Gardens Colony, Kharar, Punjab - 140301 India
            </p17>
        </div>
        
    </section>



   

    


</body>
</html>
